<div class="first">
	<div class="basic">
		박승희<br>
		010-8281-2856<br>
		mnb2856@gmail.com<br>
		github.com/seuunng<br>
		개인역량
		- 성실성
		- 협력
		- 성장가능성
	</div>
	<div class="introduce">
		안녕하세요!<br>
		스며드는 개발을 꿈꾸는 예비개발자 입니다.<br>
	</div>
</div>
<div class="skills">
	<h3>Skills</h3>
		<h4>Programming Languages</h4>
			HTML
			CSS
			JavaScript
			JAVA
			JSP
			Ruby
		<h4>DB /Cache</h4>
			Oracle
			MySQL Developer
			Database
		<h4>Server /Deployment</h4>
			Tomcat
		<h4>Tools/Test Code/ Performance Test</h4>
			Eclips
			Spring
			SpringBoot
			VisualStudioCode
			MarkDown
		<h4>Operating Systems</h4>
			Window
			macOS
		<h4>Collaborations</h4>
</div>
<div class="projectSumary">
	<h3>Projects</h3>
		<div class="project1">
			<h4>팀프로젝트: Acorn ERP System</h4>
				프로젝트 핵심 요약
				프로젝트 소개
		</div>
		<div class="project2">
			<h4>개인프로젝트: 자동일기장</h4>
				프로젝트 핵심 요약
				프로젝트 소개
		</div>
</div>
<div class="ext">
	<h4>도서</h4>
	<h4>교육과정</h4>
	<h4>대외 활동</h4>
		컨퍼런스
		세미나
	<h4>그 외 경험</h4>
</div>
<div class="project">
	<div calss="">
		<h4>소개</h4>
		<h4>기간/인원</h4>
		<h4>기술</h4>
			Language/Sever/Deployment
			Framework/ Library
			DB/ Cache/ Performance Test
			Tools
		<h4>핵심기능</h4>
		<h4>지원자 개인 기여</h4>
		<h4>팀성과</h4>
		<h4>사진자료</h4>
	</div>
</div>






